<h1><%= @business.name %></h1>

<!--<h2>Officers</h2>-->
<%# @business.officers.each do |officer, roles| %>
<!--  <p>-->
    <%#= link_to officer.name, officer %>
<!--    <span><%#= "(#{roles*', '})" %></span>-->
<!--  </p>-->
<%# end %>
