<h1><%= @role.name %></h1>

<!--<h2>Officers</h2>-->
<%# @role.officers.each do |officer, businesses| %>
<!--  <p>-->
    <%#= link_to officer.name, officer %>
<!--    <span>-->
      <%#= "(#{businesses*', '})" %>
<!--    </span>-->
<!--  </p>-->
<%# end %>
